<form class="form" (ngSubmit)="onSubmit()"  [formGroup]="addRecipeForm">
    <label for="name">Name</label>
    <input class="form-control" formControlName="name" [(ngModel)]="recipe!.name">

    <label for="time">Time</label>
    <input type="number" class="form-control" formControlName="time" [(ngModel)]="recipe!.time">

    <label for="forAmountOfPeople">For how many people</label>
    <input type="number" class="form-control" formControlName="forAmountOfPeople" [(ngModel)]="recipe!.forAmountOfPeople">
    <br>
    <div>
        <app-ingredient-list (newIngredientEvent)="addSubstitude($event)" (deleteIngredientEvent)="deleteSubstitude($event)"></app-ingredient-list>
    </div>
    <br>
    <button (click)="addDescription()" class="btn btn-danger">Add cooking step</button>
    <br>
    <label for="description">Cooking instructions</label>
    <br>
    <div formArrayName="description">
        <div *ngFor="let d of description.controls; let i = index"> 
            Step: {{i + 1}}
        <textarea type="text" class="form-control" [formControlName]="i" ></textarea>
        </div>
        <div *ngIf="description.length > 1">
            <br>
            <button (click)="deleteDescription(description.length - 1)" class="btn btn-danger">Delete step</button> 
        </div>
    </div>
    <div *ngIf="invalidForm && description.length <= 0" class="alert alert-danger">
        Please add 1 or more Cooking steps
    </div>
    <br>
    <label for="tips">Tips</label>
    <input class="form-control" formControlName="tips" [(ngModel)]="recipe!.tips">
    <br>
    <label for="imgUrl">img Url</label>
    <input class="form-control" formControlName="imgUrl" [(ngModel)]="recipe!.imgUrl">
    <br>
    <button type="submit" class="btn btn-success" [disabled]="addRecipeForm.invalid">Save</button>
</form>
