<footer class="text-center text-white fixed-bottom " style="background-color:  #cccccc;">
  <!-- Grid container -->
  <div *ngIf="currentUser == undefined || currentUser == null" class="container px-4 border-top pt-2" >
    <!-- Section: CTA -->
    <section class=""  >
      <p style="color:black;" class="d-flex justify-content-center align-items-center">
        <span class="p-1">Register for free:</span>
        <br>
        <button routerLink="/user-edit" type="button" class="btn btn-outline-dark btn-rounded p-2s">
          Sign up!
        </button>
      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    <p style="color:black;"> © 2021 Copyright:
      <a style="color:black;" href="#">Dishboard, The internets Dashboard for your favorite recipes</a>
    </p>
  </div>
  <!-- Copyright -->
</footer>