<footer class="text-center text-white fixed-bottom " style="background-color:#027509;">
  <!-- Grid container -->
  <div *ngIf="currentUser == undefined || currentUser == null" class="container px-4 border-top pt-2" >
    <!-- Section: CTA -->
    <section class=""  >
      <p style="color:white;" class="d-flex justify-content-center align-items-center">
        <span class="p-1">Register for free:</span>
        <br>
        <button routerLink="/register" type="button" class="btn btn-danger btn-rounded p-2s">
          Sign up!
        </button>
      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-1" style="background-color: #005c05;">
    <p style="color:white;"> © 2021 Copyright:
      <a style="color:white;" href="#">Dishboard, The internets dashboard for your favorite recipes</a>
    </p>
  </div>
  <!-- Copyright -->
</footer>