<div *ngFor="let ingredient of ingredientList; let i = index" class="ingredientContainer">
    <div class="ingredientBox" (click)="selectIngredient(i)">
        {{ingredient.name}}
        <br>
        {{ingredient.amount}}  {{ingredient.size}}
        <br>    
    </div>
    <div *ngIf="currentUser?.role == accessRole">
        <button class="btn btn-warning" (click)="updateIngredient(ingredient)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteIngredient(ingredient)">Delete</button>
    </div>
</div>
<br>
<br>
<div *ngIf="!isRouteSelected">
    <button class="btn btn-primary" routerLink="/ingredient-form">Can't find the ingredient you're looking for?</button>
</div>
