<h1>About DishBoard</h1>

<p>Dishboard is a recipe website where a user can upload their own recipe or can search for a recipe for his or hers own use.</p>
<p>On this page we go in detail about all the entities that are used in this project and all the <b>features/pages</b> that are going to be possibile in the web application.</p>

<div>
<h3>User</h3>
    <p>
        A user makes an account by entering his or hers first name, last name, email, password and date of birth.
        <br/>After this a user can write about him/her self to give a bit more personal flair to the profile.
        <br/>A user can make a recipe on the website and it will be automatically uploaded on the website.
    </p>
</div>
<div>
    <h3>Recipe</h3>
    <p>
        If a user wants to make a recipe they need to give it the following properties: 
        <br/>- Name of the recipes, 
        <br/>- Time in minutes,
        <br/>- For how many people the recipe is indicated by a number,
        <br/>- List of ingredients (see ingredients how an ingredient is build),
        <br/>- cooking instructions on how to prepare and make the meal,
        <br/>- Optionally a user can give tips.
        <br/>- An image url to have a nice image for use.
        <br/><br/>
        A recipe needs to have atleast 2 ingredients to make it. 
        Cooking instructions is an array of descriptions which needs to have a minimum of 1 cooking step
    </p>
</div>
<div>
    <h3>Ingredient</h3>
    <p>
        An ingredient has name, Amount in numbers ,Size determined by an enum value
        <br/> If you want to fill in a value you need to select a type of weight and add the appropiate amount of it for the recipe.
    </p>
</div>
<div>
    <h3>Recipe Book</h3>
    <p>
        A user can make a recipe list in which he/she saves his/hers favorite recipes:
        a recipe book has a title and an about text. 
        <br> you can add multiple chapters which each has a title, intro and a list of recipes.
    </p>
</div>

<div style="border-style: solid; border-color:black; border:2; padding-left: 30px;">
    <h4>List of entities with its attributes</h4>
    <div class="row">
        <ul class="col">
            <li><b>User</b></li>
            <li>Email: string</li>
            <li>FirstName: string</li>
            <li>LastName: string</li>
            <li>Password: string</li>
            <li>About: string</li>
            <li>Date of birth: Date</li>
        </ul>
        <ul class="col">
            <li><b>Recipe</b></li>
            <li>Name: String</li>
            <li>Time: Number</li>
            <li>For how many people: Number</li>
            <li>List of ingredients: Ingerdient[]</li>
            <li>Description: string[]</li>
            <li>Tips: string</li>
            <li>img url: string</li>
        </ul>
        <ul class="col">
            <li><b>Ingredient</b></li>
            <li>Name: string</li>
            <li>Amount: string</li>
        </ul>
        <ul class="col">
            <li><b>Recipe Book</b></li>
            <li>title:string</li>
            <li>about:string</li>
            <li>chapterTitle:string</li>
            <li>chapterIntro:string</li>
            <li>recipeList:Recipe[]</li>
        </ul>
    </div>
</div>
<br/>
<div style="border-style: solid; border-color:black; border:2; padding-left: 30px;">
    <table>
        <thead>
            <th>HTTP</th>
            <th>Route</th>
            <th>Output</th>
        </thead>
        <tbody>
            <tr>
                <td>GET</td>
                <td>/user/</td>
                <td>List of users</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/user/:id</td>
                <td>Specific user</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/user/register</td>
                <td>User object and a token, places the user in the DB</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/user/login</td>
                <td>User object and a token, logs the user in the website</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>/user/:id</td>
                <td>Changes the user data</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>/user/:id</td>
                <td>Deletes the user data</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/recipe/</td>
                <td>Gets all the recipe data</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/recipe/:id</td>
                <td>Get the specific recipe data</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/recipe/</td>
                <td>Posts the recipe data</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>/recipe/:id</td>
                <td>Updates the recipe data</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>/recipe/:id</td>
                <td>Deletes the recipe data</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/ingredients/</td>
                <td>adds new ingredient</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/ingredients/</td>
                <td>Gets a list of all ingredients</td>
            </tr>
            <tr>                
                <td>GET</td>
                <td>/ingredients/:id</td>
                <td>Gets a specific ingredient</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>/ingredients/:id</td>
                <td>Updates a specific ingredient</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>/ingredients/:id</td>
                <td>Deletes a specific ingredient</td>
            </tr>
            

            <tr>
                <td>POST</td>
                <td>/recipeBook/</td>
                <td>Posts the recipe book data</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/recipeBook/follow/:id</td>
                <td>Follows the Recipe Book</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/recipeBook/unfollow/:id</td>
                <td>Unfollows the Recipe Book</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/recipeBook/</td>
                <td>Gets a list of recipe books</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/recipeBook/follow/:id</td>
                <td>Gets a list of recipebooks based on a user ID</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/recipeBook/user/:id</td>
                <td>Gets all recipeBooks created by a user</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>/recipeBook/:id</td>
                <td>Updates a recipebook</td>
            </tr>
            <tr>                
                <td>DELETE</td>
                <td>/recipeBook/:id</td>
                <td>Gets a specific ingredient</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="pt-5"></div>
<div class="pt-5"></div>