<div class="box">
    <div class="row">
        <div class="col prepContainer">
            <h1 class="recipeName">{{recipe.name}}</h1>
            <p class="prepContent"><b>Time: </b>{{recipe.time}} min.</p>
            <p class="prepContent">This Recipe is for approximately:<b> {{recipe.forAmountOfPeople}} </b>people.</p>
            <b class="prepContent"><u>Ingredients</u></b>
            <div class="prepContent" *ngFor="let d of recipe.ingredients;">
                <p><b>{{d.amount}} {{d.size}}</b>{{d.name}}</p>    
            </div>
            
        </div>
        <div class="col prepContainer" >
            <img class="card-img-top" src="{{recipe.imgUrl}}" alt="Card image cap">
        </div>
    </div>
    <div *ngFor="let d of recipe.description; let i = index">
        <h3>Step {{i + 1}}</h3>
        <p>{{d}}</p>
    </div>
    
    <p>{{recipe.tips}}</p>
    <div *ngIf="recipeUser != null">
        <p>Recipe submitted by: <a routerLink="/user-detail/{{recipeUser._id}}">{{recipeUser.firstName}} {{recipeUser.lastName}}</a> </p>
    </div>
    
    <div *ngIf="recipeUser && currentUser && (recipeUser._id == currentUser._id || currentUser.role == 'ADMIN')" style="margin-top: 40px;">
        <button class="btn btn-warning" style="margin-right: 30px;" routerLink="/recipe-form/{{recipe._id}}"> Edit Recipe</button>
        <button class="btn btn-danger" (click)="deleteRecipe()"> Delete Recipe</button>
    </div>

</div>
