<p>user-edit works!</p>
<form [formGroup]="addUserForm" class="form" (ngSubmit)="onSubmit()" >
    <input formControlName="firstName" type="text" class="form-control" placeholder="Your name">
    <br/>
    <input formControlName="lastName" type="text" class="form-control" placeholder="Your lastname">
    <br/>
    <input formControlName="email" type="email" class="form-control" placeholder="Your email">
    <br/>
    <select formControlName="gender" name="gender">
        <option *ngFor="let gender of genders" [value]="gender">
            {{gender}}
        </option>
    </select>

    <input type="submit" value="Send">
  </form>
